.input-box Input{
  width: 30% ;
  display: block;
  margin-bottom: 5px;
}

.repositories-box{
  margin-top: 20px;
  padding-left: 10px;
  width: 70%;
}

ul {
  list-style-type: none;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding-left: 0;
 }
 li{
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
 }

 .repo-title{
  font-size: bold;
  color: blue;
  width: 30%;
 }

 .repo-url{
  color: black;
  width: auto;
 }